<div class="thread-container">
    <div class="thread-wrap jx-p-relative">
        <div class="header jx-d-flex justify-content-between align-items-center">
            <div class="justify-left jx-d-flex h-per-100">
                <div class="mobile-back jx-fs-18 align-items-center jx-px-1 align-item-center jx-fs-26" (click)="requestMainAreaClose()">
                    <i class="ri-arrow-left-s-line"></i>
                </div>
                <div class="ticketId jx-fs-18 jx-ml-1 jx-d-flex align-items-center jx-t-capitalize">{{pageInView}}</div>
            </div>
            <div class="justify-right jx-d-flex jx-fs-12 h-per-100 align-items-center jx-px-1" style="text-align: right;">
                <span class="active-account">{{accountName}}</span>
            </div>
        </div>
        <div class="thread-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>