.nfts-list .button-list {
    padding-top: 40px;
    button {
        border: none;
        width: 100%;
        background: white;
        border-radius: 8px;
        padding: 12px 0;
        margin-bottom: 50px;
        color: #000;
    }
}