.logged-in-account {
    justify-content: right;
    .user-account {
        color: #fff;
        font-size: 20px;
        margin-top: 30px;
        margin-right: 20px;
    }
}

.register-btn {
    background-color: #ffffff;
    padding: 18px 40px;
    min-width: 28vw;
    margin-top: 70px;
    border-radius: 10px;
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
}

.menu-container {
    background-color: #ffffff;
    bottom: 0;
    right: 0;
    height: 70vh;
    border-radius: 50px 50px 0 0;


    .menu-title {
        margin-top: 30px;
        margin-left: 10vw;
        font-size: 18px;
        font-weight: bold;
    }

    .row-one {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px 30px;
        grid-gap: 20px;
        gap: 30px;

        .menu-item {
            display: grid;
            justify-content: center;
            .menu-item-icon {
                border: 1px solid;
                padding: 10px;
                border-radius: 30px;
                text-align: center;
                max-width: 100px;
            }
    
            .menu-item-name {
                padding: 5px 0px;
                display: block;
                text-align: center;
            }
        }
    }
}

@media (max-width: 680px) {
    .register-btn {
        padding: 12px 30px;
        min-width: 12vw;
        border-radius: 10px;
        font-size: 18px;
    }

    .menu-container { 
        .menu-title {
            font-size: 16px;
        }
        .row-one {
            padding: 30px 30px;
            gap: 40px;
            .menu-item { 
                .menu-item-icon {
                    border-radius: 24px;
                }
            }
        }
    }

}