<div class="nfts-page-wrap jx-d-flex theme-color-bg h-100vh jx-p-relative">
    <div class="nfts-page-wrap jx-d-block">
        <div class="logged-in-account jx-d-flex">
            <span class="user-account">{{accountName}}</span>
        </div>
        <div class="register-container jx-d-flex">
            <span class="register-btn jx-d-block" routerLink="/user/register-brand">Register as Luxury Brand</span>
        </div>
    </div>

    <div class="menu-container nfts-page-wrap jx-p-absolute">
        <div class="menu-title">Home</div>
        <div class="menu-items">
            <div class="row-one jx-d-grid">
                <div class="menu-item" routerLink="/user/nft-create">
                    <div class="menu-item-icon"><img src="assets/images/icons/nft.png" alt=""></div>
                    <span class="menu-item-name">Mint Luxury NFT</span>
                </div>
                <div class="menu-item">
                    <div class="menu-item-icon"><img src="assets/images/icons/transact.png" alt="" style="transform: rotate(45deg);"></div>
                    <span class="menu-item-name">Transfer Luxury NFT</span>
                </div>
                <div class="menu-item">
                    <div class="menu-item-icon"><img src="assets/images/icons/link.png" alt=""></div>
                    <span class="menu-item-name">View NFT History</span>
                </div>
            </div>
        </div>
    </div>
</div>