<div class="nfts-page-wrap jx-d-flex theme-color-bg h-100vh jx-p-relative">
    <div class="nfts-page-wrap jx-d-block jx-p-relative" style="z-index: 1; max-height: 100px;">
        <i class="ri-arrow-left-line jx-p-absolute jx-fs-26 back-btn" (click)="goBack()"></i>
        <div class="logged-in-account jx-d-flex">
            <span class="user-account">{{accountName}}</span>
        </div>
    </div>

    <div class="menu-container nfts-page-wrap jx-p-absolute">
        <div class="jx-p-relative jx-d-flex justify-content-center">
            <div  id="curved-border" class="theme-color-bg"></div>
        </div>

        <div class="search-result-rap" *ngIf="myNFTs?.length; else giveUserFeedback">
            <div class="title w-per-100 jx-p-05 jx-mb-1 cubed-logo jx-mt-2">
                <h2 class="jx-fs-24 jx-mb-0">Result(s)</h2>
            </div>
        
            <div class="history">
                <div class="" *ngFor="let history of myNFTs; let i=index">
                    <div class="history-card jx-d-flex jx-p-relative">
                        <div class="card-img">
                            <img [src]="$any(history)?.product_image" alt="">
                        </div>
                        <div class="card-info jx-mr-1">
                            <div class="line-one jx-fs-16 jx-fw-bold jx-t-capitalize">{{$any(history)?.product_name}} <span class="txn-count">{{i + 1}}</span></div>
                            <div class="line-two">Product ID: {{$any(history)?.attributes[3]?.value}}</div>
                            <div class="line-three jx-d-flex justify-content-between jx-mt-05">
                                <span class="minted-by mobile-hidden">Minted by: david@gmail.com</span>
                                <span class="tags">
                                    <span class="ownership" [class.mine]="accountPK == $any(history)?.attributes[4]?.value">
                                        Owner: {{ accountPK == $any(history)?.attributes[4]?.value ? 'Mine' : 'Someone'}}
                                    </span> 
                                    <span class="jx-mx-05" *ngIf="accountPK == $any(history)?.attributes[4]?.value"></span>
                                    <span class="transfer-btn" *ngIf="accountPK == $any(history)?.attributes[4]?.value">Transfer</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <ng-template #giveUserFeedback>
            <div class="search-result-rap">
                <div class="exists jx-d-flex justify-content-center jx-mt-6">
                    <h2 style="margin:0" *ngIf="busy; else noData">Please wait 
                        <span style="color: white; background: #f61d3f; padding: 4px 10px; display: inline-flex; gap: 6px;"> 
                            <i class="remix ri-loader-4-line rotate"></i>
                            loading... 
                        </span> 
                    </h2>
                    <ng-template #noData>
                        <h2 style="margin:0" >No data
                            <span style="color: white; background: #f61d3f; padding: 4px 10px;"> found</span> 
                        </h2>
                    </ng-template>
                </div>
            </div>
        </ng-template>
    </div>

</div>