.button-list {
    display: none;
    padding-top: 20px;
    button {
        border: none;
        width: 100%;
        background: red;
        border-radius: 8px;
        padding: 12px 0;
        margin-bottom: 50px;
        color: #fff;
        max-width: 260px;
    }
}

@media (max-width:991px) {
    .button-list {
        display: block;
    }
}