<div class="jx-px-1 jx-py-1">
    <p class="jx-d-flex justify-content-center align-items-center h-100 jx-fs-20">
        <span class="jx-tooltip">
            How to use section!
            <span class="jx-tip-bottom jx-tooltiptext jx-fs-16 jx-p-1">
                Blockchain is a system of recording information
                in a way that makes it difficult or impossible to change, hack, or cheat the system.
            </span>
        </span>
    </p>

    <div class="button-list jx-d-flex justify-content-center">
        <button class="jx-t-capitalize" (click)="requestToOpenNFTCreate('QR Code')">Continue Scanning</button>
    </div>
</div>
